html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    color: #fff;
}

#CC-Header {
    background: #075f6a;
    position: relative;
    height: 90px;
}

.header-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-wrapper .dep-nav-wrapper {
    font-family: 'PT Sans',sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: .0015em;
    cursor: pointer;
}

.header-wrapper .dep-nav-wrapper:hover {
    text-decoration: underline;
}

.header-wrapper .logo {
    font-family: 'PT Sans',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 22px;
    letter-spacing: .0015em;
}

.search-block {
    width: 30%;
    height: 40px;
}

.search-block input {
    padding: 12px 16px;
    border: 0;
    border-radius: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    background: #fff;
    width: 100%;
}

.search-block input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.header-nav {
    display: flex;
    flex-direction: row;
}

.item-account {
    margin: 0 20px 0 20px;
}

.item-favorite {
    margin: 0 20px 0 20px;
}

.item-minicart {
    margin: 0 20px 0 20px;
}

.header-nav a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    font-family: 'PT Sans',sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: .0015em;
    cursor: pointer;
}

.header-nav a:hover {
    text-decoration: underline;
}